@page "/vybaveni/{Id:guid}"
@inject HttpClient Http
@if (Vyb is null)
{
    <div class="flex items-center justify-center h-screen">
        <div class="w-12 h-12 rounded-full animate-spin
                    border-y-4 border-solid border-blue-900 border-t-transparent"></div>
    </div>
    return;
}

<div class="p-4 ">

    <div class="grid grid-cols-7 border-b-2 border-black font-bold">
        <div class=" w-full h-full">ID vybavení</div>
        <div class=" w-full h-full">Název</div>
        <div class=" w-full h-full">Cena (Kč)</div>
        <div class=" w-full h-full">Datum nákupu</div>
        <div class=" w-full h-full">Počet revizí </div>
        <div class=" w-full h-full">Počet použití </div>
    </div>

    <div class="grid grid-cols-7 my-1">
        <div class="py-1.5">@Id</div>
        <div class="py-1.5">@Vyb.Name</div>
        <div class="py-1.5">@Vyb.Price.ToString("N0")</div>
        <div class="py-1.5">@Vyb.BoughtDateTime.ToString("dd-MM-yyyy")</div>
        <div class="py-1.5">@seznamRevizi.Count</div>
        <div class="py-1.5">@seznamUkonu.Count</div>
        <div class="flex justify-center place-items-center">
            <a class="twbtn bg-blue-500 hover:bg-blue-600" href="/vybaveni">🚪</a>
        </div>
    </div>
    <div class="grid grid-cols-2 border-b-2 border-black font-bold text-center">
        <div class=" w-full h-full">Revize</div>
        <div class=" w-full h-full">Použití</div>
    </div>
    <div class="grid grid-cols-2">
        <div>
            @if (seznamRevizi.Count != 0)
            {

                @foreach (var item in seznamRevizi)
                {
                    <div class="grid grid-cols-2">
                        <div>Revize číslo: @pocetRevizi</div>
                        <div>Provedena: @item.DateTime</div>
                    </div>
                    pocetRevizi++;
                }
            }
            else
            {
                <div class="text-center">žádná revize</div>
            }
        </div>
        <div>
            @if (seznamUkonu.Count != 0)
            {

                @foreach (var item in seznamUkonu)
                {

                    <div class="grid grid-cols-2">
                        <div>Název úkonu: @item.Name </div>
                        <div>Provedena: @item.ActionDateTime</div>
                    </div>
                }
            }
            else
            {
                <div class="text-center">žádné použití</div>
            }
        </div>
    </div>
</div>
@code {
    [Parameter] public Guid Id { get; set; }
    VybaveniVm? Vyb;
    List<RevizeViewModel>? seznamRevizi;
    List<UkonyVm>? seznamUkonu;
    int pocetRevizi = 1;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        Vyb = await Http.GetFromJsonAsync<VybaveniVm>($"vybaveni/{Id}");
        seznamRevizi = await Http.GetFromJsonAsync<List<RevizeViewModel>>($"{Vyb.Id}");
        seznamUkonu = await Http.GetFromJsonAsync<List<UkonyVm>>($"ukony/{Vyb.Id}");
    }
}